* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #009546;
  --secondary-color: #ffffff;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
