* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: none;
}

:root {
  --primary-color: #00bc59;
  --secondary-color: #ffffff;
  --font-color: #393939;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
