* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: none;
}

:root {
  --primary-color: #00bc59;
  --secondary-color: #ffffff;
  --font-color: #393939;
  --footer-color: #1f1f1f;
  --text-color: #999999;
  --background-color: #fafafa;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
