.homepage,
.homepage__second,
.homepage__third {
  padding: 2em;
}

.homepage {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homepage__title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  width: 551px;
}

.homepage__dec {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  width: 402px;
}

.homepage__dec > span {
  color: var(--primary-color);
}

input {
  background: #ffffff;
  border: 2px solid #cccccc;
  box-sizing: border-box;
  border-radius: 8px;
  width: 473px;
  height: 58px;
  font-size: 18px;
  padding: 0.5em;
}

.homepage__arrow {
  display: flex;
  justify-content: flex-end;
}

.homepage__input > button {
  margin-left: -8.5em;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  width: 131px;
  height: 51px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border-radius: 8px;
}

.homepage__arrow > img:hover {
  cursor: pointer;
  transform: rotate(360deg);
  transition: all 0.3s ease-in-out 0s;
}

.homepage__second {
  display: flex;
  justify-content: space-between;
}

.homepage__secondImg > img {
  object-fit: contain;
  width: 600px;
  height: 600px;
}

.homepage__secondTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  width: 397px;
  color: var(--font-color);
}

.homepage__secondDesc {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  width: 477px;
  color: var(--font-color);
}

.homepage__secondDesc > a {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1em 3em;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.homepage__secondDesc > .homepage__secondbtn {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 8px;
  width: 197px;
  height: 70px;
}

.homepage__secondDesc > .homepage__secondbtn:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  transition: all 0.3s ease-in-out 0s;
}

.homepage__third {
  display: flex;
  justify-content: center;
  color: var(--font-color);
  text-align: center;
}

.homepage__thirdTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  padding-top: 1em;
}

.homepage__thirdTitle > span {
  color: var(--primary-color);
}

.homepage__thirdDesc {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  width: 441px;
}

.homepage__thirdOptions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: var(--font-color);
}

.homepage__thirdOptions img {
  margin: 0 auto;
  padding-top: 2em;
  cursor: pointer;
}

.homepage__thirdOptions div {
  padding: 3em;
}

.homepage__thirdOptions h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  padding: 0.4em;
}

.homepage__thirdOptions p {
  font-style: normal;
  font-weight: normal;
  padding: 1em;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
}

.homepage__thirdOne,
.homepage__thirdTwo,
.homepage__thirdThree {
  margin: 1em;
  width: 365px;
  height: 402px;
  background-color: #fcfcfc;
}
